.header {
    text-align: center;
    color: red;
    background-color: rgb(0,200,255);
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.buttons {
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    background-color: #009933;
    
}

.footer {
    background-color: #6666ff;
    text-align: center;
    margin-top: 4in;
}

body {
    background-image: url(https://hdwallsource.com/img/2014/9/simple-backgrounds-17283-17839-hd-wallpapers.jpg);
    
}