.header {
    text-align: center;
    color: red;
    background-color: rgb(0,200,255);
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

.task {
    list-style-type: none;
    font-size: 50px;
}